body{
    background-color: #FFFDF0;
}
h1,p{
    text-align: center;
}
h1{
    color:#005F73;
    font-family: "Cinzel", serif;
    font-size: 10rem;
}
p{
    color:#2B2D42;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
}
#img-div{
    display: inline-block;
    margin:1rem 0;
}
#one,#two,#three{
    width:70rem;
    height:70rem;
    border-radius: 15%;
    object-fit:cover;
    border: #005F73 5px solid;
    margin: 0rem 3rem 0rem 8rem;
}
#img-link{
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: #005F73 5px solid;
    margin-left: 45%;
    
}
#four{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
}

